<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    initial-scale=1.0">
    <title>Error Page</title>
  </head>
  <body>
    <header class="header__section">
      <section class="container">
        <div class="flex">
          <a href="/">
            <strong>E-LIBRARY</strong>
          </a>
          <a href="/books/">
            <h3>BOOKS</h3>
          </a>
        </div>
      </section>
    </header>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
