<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header__section">
      <section class="container">
        <div class="flex">
          <a href="/">
            <strong>E-LIBRARY</strong>
          </a>
          <a href="https://twitter.com/narendrapalach1">
            <h3>CONTACT</h3>
          </a>
        </div>
      </section>
    </header>
    <main class="main">
      <section class="template">
        <h1 class="heading">Welcome to BookStore</h1>
        <a class="" href="/books">
          <button type="button" class="btn btn-primary">VISIT STORE</button>
        </a>
      </section>
    </main>
  </body>
</html>
