<!DOCTYPE html>
<html>
  <head>
    <title>Book list</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Books list</h1>

    <a href="/books/new">
      <button>Add Book</button>
    </a>
    <a href="/authors/">
      <button>Authors List</button>
    </a>
    <a href="/categories/motivation">
      <button>motivation</button>
    </a>

    <section>
      <%books.forEach(book=>{%>
      <div class="book__box">
        <img src="<%= book.cover_img%>" alt="cover image" />
        <p><%= book.title%></p>
        <a href="/books/<%= book.id%>">
          <button>View More</button>
        </a>
      </div>
      <%})%>
    </section>
  </body>
</html>
