<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Bookstore</h1>
    <p>Welcome to Bookstore</p>
    <a href="/books/">
      <button>Visit My Bookstore</button>
    </a>
  </body>
</html>
