<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Book</title>
  </head>
  <body>
    <form method="POST" action="/books/">
      <fieldset>
        <input name="title" type="text" placeholder="title" />
        <input name="summary" type="text" placeholder="summary" />
        <input name="pages" type="number" placeholder="pages" />
        <input name="publication" type="text" placeholder="publication" />
        <input name="cover_img" type="text" placeholder="cover image" />
        <input name="category" type="text" placeholder="category" />
        <input name="author_name" type="text" placeholder="author name" />
        <input name="author_email" type="text" placeholder="author email" />
        <input name="author_country" type="text" placeholder="author country" />
        <input type="submit" value="submit" />
      </fieldset>
    </form>
  </body>
</html>
